<header class="header">
	<a href="index.html" class="header__logo">
		<img src="images/logo.png" alt="">
	</a>
	<div class="header__content">
		<div class="header-responsive-btn">
			<span class="header-responsive-btn__text">Меню</span>
			<span class="header-responsive-btn__bar"></span>
			<span class="header-responsive-btn__bar"></span>
			<span class="header-responsive-btn__bar"></span>
		</div>
		<div class="header-responsive-menu">
			<nav class="header-nav">
				<ul>
					<li class="header-nav__item">
						<a href="order_checking.html" class="header-nav__link active">Заказы</a> 
						<span class="header-nav__badge">1350</span>
					</li>
					<li class="header-nav__item"><a href="#" class="header-nav__link">Маршруты и цены</a></li>
					<li class="header-nav__item"><a href="landing_how-to-use.html" class="header-nav__link">Данные поставщика</a></li>
					<li class="header-nav__item"><a href="landing_how-to-use.html" class="header-nav__link">Как этим пользоваться</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>