<header class="header">
	<a href="index.html" class="header__logo">
		<img src="images/logo.png" alt="">
	</a>
	<div class="header__content">
		<div class="header-responsive-btn">
			<span class="header-responsive-btn__text">Меню</span>
			<span class="header-responsive-btn__bar"></span>
			<span class="header-responsive-btn__bar"></span>
			<span class="header-responsive-btn__bar"></span>
		</div>
		<div class="header-responsive-menu">
			<div class="header-panel">
				<div class="header-panel__item">
					<div class="header-panel__icon  header-panel__icon_fav-active">
						<div class="header-panel__counter">5</div>
					</div>
				</div>
				<div class="header-panel__item  header-panel__item_currency">
					<div class="header-panel__icon  header-panel__icon_rub">
						
					</div>
					<div class="header-panel__popup">
						<div class="header-panel__popup-item">евро</div>
						<div class="header-panel__popup-item">доллар</div>
						<div class="header-panel__popup-item  header-panel__popup-item_active">рубль</div>
					</div>
				</div>
				<div class="header-panel__item  header-panel__item_user">
					<div class="header-panel__icon header-panel__icon_power">
						
					</div>
					<div class="header-panel__popup">
						<div class="header-panel__popup-item">поездки</div>
						<div class="header-panel__popup-item">бонусы</div>
						<div class="header-panel__popup-item">избранное</div>
						<div class="header-panel__popup-item">настройки</div>
						<div class="header-panel__popup-item">выход</div>
					</div>
				</div>
			</div>
			<nav class="header-nav">
				<ul>
					<li class="header-nav__item"><a href="catalog.html" class="header-nav__link active">Трансфер</a></li>
					<li class="header-nav__item"><a href="order_checking.html" class="header-nav__link">Проверить заказ</a></li>
					<li class="header-nav__item"><a href="#" class="header-nav__link">Справочник</a></li>
					<li class="header-nav__item"><a href="landing_how-to-use.html" class="header-nav__link">Как это работает</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>