.landing-head {
	color: #fff;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 60px;

	&__title {
		font-size: 65px;
		font-weight: 300;
		margin-bottom: 10px;
	}

	&__desc {
		font-size: 35px;
		font-weight: 700;
	}
}
.landing-section {
	padding: 0 30px;
	margin-bottom: 60px;
	padding-bottom: 40px;

	&:last-child {margin-bottom: 0;}

	&--white {
		padding-top: 75px;
		padding-bottom: 75px;
		background: #fff;
	}

	&__title {
		font-size: 65px;
		font-weight: 700;
		color: #333;
		margin-bottom: 30px;
	}

	&__text {
		font-weight: 300;
		font-size: 29px;
		line-height: 50px;
		color: #333;

		&--white {
			background: #fff;
		}
		&--green {
			background: #E4F3E5;
		}
		&--red {
			background: #FFF3F3;
		}
	}

	&__screen {
		margin: 40px 0;

		img {
			width: 100%;
			height: auto;
		}
	}

	.content {
		max-width: 940px;
		margin-top: 0;
	}
}

.header {
	transition: background .3s;
}

.header-nav--landing {

	.header-nav__link {
		line-height: 26px;
		padding-top: 15px;
	}
}

.block-btn--landing {
	margin-top: -10px;
	background: $blue;
	color: #fff;
}